@using Contracts.ViewModels;

@model List<BuyerViewModel>

@{
    ViewData["Title"] = "BuyerIndex";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Имя
            </th>
            <th>
                Покупки
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalesIds.Values)
            </td>
            <td>
                <a asp-action="BuyerEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="BuyerDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
